Sereia/3BQnvfWXE9lwLjt3.json
{"createdAt":"2025-01-13T22:18:15.287Z","updatedAt":"2025-03-13T17:48:44.000Z","id":"3BQnvfWXE9lwLjt3","name":"Transbordo para o BPO automatizado","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"983bb7b9-2658-471a-b8dc-aee76d34e50a","leftValue":"={{ $('BD (Supabase) - Get Clientes').last().json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"22827e4c-7c04-4f18-9eb6-dc980ad327be","name":"If - Não lead encontrado","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1980,640],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"f7476711-9e1f-43dc-933a-29f853a25817","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1320,620]},{"parameters":{"fieldToSplitOut":"value","options":{}},"id":"a85e2b0e-15f7-4015-a7fe-ca256974d0e4","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[840,620]},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"userId","keyValue":"={{ $json.bz_celular_semformatacao }}"}]}},"id":"6d0cbd8e-bfce-4667-9dea-ffc4f13f7281","name":"BD (Supabase) - Get Clientes","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1740,640],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"X8ZYJQIX7e8BBByR","name":"Supabase - SereIA Prod"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"vendedores\": [\n    {\n      \"name\": \"Adriano Augusto de Oliveira\",\n      \"email\": \"acl.adriano.oliveira@ext.srna.co\",\n      \"id\": \"92dd027c-a2d9-ef11-a731-000d3ac142cb\"\n    },\n    {\n      \"name\": \"Amanda Vitoria Goncalves\",\n      \"email\": \"acl.amanda.goncalves@ext.srna.co\",\n      \"id\": \"d65864ae-2bac-ef11-a72d-0022483637b4\"\n    },\n    {\n      \"name\": \"Ana Carolina Solosano Cintra\",\n      \"email\": \"acl.ana.cintra@ext.srna.co\",\n      \"id\": \"4e8f4a86-603a-ef11-a316-002248368544\"\n    },\n    {\n      \"name\": \"Arielly Fernanda Cordeiro de Sousa\",\n      \"email\": \"acl.arielly.sousa@ext.srna.co\",\n      \"id\": \"ebb51999-694e-ef11-accd-6045bd3c92e3\"\n    },\n    {\n      \"name\": \"Felipe Rossetti Souza\",\n      \"email\": \"acl.felipe.souza@ext.srna.co\",\n      \"id\": \"73036d84-603a-ef11-a316-000d3ac17537\"\n    },\n    {\n      \"name\": \"Fernanda Mendes da Costa\",\n      \"email\": \"acl.fernanda.costa@ext.srna.co\",\n      \"id\": \"3ff10931-6e4e-ef11-accd-002248366531\"\n    },\n    {\n      \"name\": \"Gabriel Luiz Ferreira da Silva\",\n      \"email\": \"acl.gabriel.silva@ext.srna.co\",\n      \"id\": \"e08aefdb-14ea-ef11-be20-6045bd3bc5a7\"\n    },\n    {\n      \"name\": \"Gabriel Moura Jacinto\",\n      \"email\": \"acl.gabriel.jacinto@ext.srna.co\",\n      \"id\": \"97333731-6e4e-ef11-accd-6045bd3c92e3\"\n    },\n    {\n      \"name\": \"Giovanna Godoy da Costa\",\n      \"email\": \"acl.GIOVANNA.COSTA@ext.srna.co\",\n      \"id\": \"f25f85fe-73bd-ef11-a72e-000d3ac0b953\"\n    },\n    {\n      \"name\": \"Gustavo da Costa Pereira\",\n      \"email\": \"acl.gustavo.pereira@ext.srna.co\",\n      \"id\": \"bac9d734-6e4e-ef11-accd-002248dfdef3\"\n    },\n    {\n      \"name\": \"Isabela de Matos Juras\",\n      \"email\": \"acl.isabela.juras@ext.srna.co\",\n      \"id\": \"9ca6747e-603a-ef11-a316-000d3ac17537\"\n    },\n    {\n      \"name\": \"Isabeli Viecelli Marcondes\",\n      \"email\": \"acl.isabeli.m@ext.srna.co\",\n      \"id\": \"7830e5fd-ffd1-ef11-a72e-000d3a893e25\"\n    },\n    {\n      \"name\": \"Isabelle Portella Moutinho de Souza\",\n      \"email\": \"acl.isabelle.m@ext.srna.co\",\n      \"id\": \"cb6053cc-7e6f-ef11-a671-002248e055df\"\n    },\n    {\n      \"name\": \"Isabelle Reis Pacheco de Medeiros\",\n      \"email\": \"acl.isabelle.men@ext.srna.co\",\n      \"id\": \"76225d7e-a2d9-ef11-a731-6045bd3c1a9a\"\n    },\n    {\n      \"name\": \"Jeferson Nunes da Silva\",\n      \"email\": \"acl.jeferson.silva@ext.srna.co\",\n      \"id\": \"266cee89-603a-ef11-a316-000d3ac159ea\"\n    },\n    {\n      \"name\": \"Jenifer Cristine Santos Domingues\",\n      \"email\": \"acl.jenifer.d@ext.srna.co\",\n      \"id\": \"622156fe-ffd1-ef11-a72e-6045bd38eab6\"\n    },\n    {\n      \"name\": \"Joao Pedro Campos Pretel\",\n      \"email\": \"acl.joao.pretel@srna.co\",\n      \"id\": \"c4dac223-e850-ef11-accd-00224836e66d\"\n    },\n    {\n      \"name\": \"Joao Samuel Silva Bastos\",\n      \"email\": \"acl.joao.samuel@ext.srna.co\",\n      \"id\": \"5093517f-603a-ef11-a316-002248dfda6f\"\n    },\n    {\n      \"name\": \"Joao Victor Lima da Silva\",\n      \"email\": \"acl.joao.silva@ext.srna.co\",\n      \"id\": \"52bfab36-6e4e-ef11-accd-6045bd3c77e7\"\n    },\n    {\n      \"name\": \"Joao Vitor Alves Formiga Ribeiro\",\n      \"email\": \"acl.joao.ribeiro@omegaenergiarenovavel.onmicrosoft.com\",\n      \"id\": \"8e30bcfb-ffd1-ef11-a72e-00224837b492\"\n    },\n    {\n      \"name\": \"Jonathan Santos de Lima\",\n      \"email\": \"acl.jonathan.lima@ext.srna.co\",\n      \"id\": \"034cc134-6e4e-ef11-accd-00224836e66d\"\n    },\n    {\n      \"name\": \"Julia Duarte de Campos\",\n      \"email\": \"acl.julia.campos@ext.srna.co\",\n      \"id\": \"291fffca-bf76-ef11-ac20-000d3ac02bae\"\n    },\n    {\n      \"name\": \"Kaiky dos Santos Beco\",\n      \"email\": \"acl.kaiky.beco@ext.srna.co\",\n      \"id\": \"52ea72ae-2bac-ef11-a72d-002248e12d77\"\n    },\n    {\n      \"name\": \"Kimberlyn Oliveira Silva Araujo\",\n      \"email\": \"acl.kimberlyn.araujo@ext.srna.co\",\n      \"id\": \"a4c15d37-6e4e-ef11-accd-002248e075c6\"\n    },\n    {\n      \"name\": \"Leticia Cintra do Nascimento Silva\",\n      \"email\": \"acl.leticia.silva@ext.srna.co\",\n      \"id\": \"d75452cd-bf76-ef11-ac21-002248e055df\"\n    },\n    {\n      \"name\": \"Leticia Helen dos Santos\",\n      \"email\": \"acl.leticia.santos@ext.srna.co\",\n      \"id\": \"3c8f4a86-603a-ef11-a316-002248368544\"\n    },\n    {\n      \"name\": \"Milleny da Silva Januario\",\n      \"email\": \"acl.milleny.januario@ext.srna.co\",\n      \"id\": \"40716e81-a2d9-ef11-a730-000d3a8946cf\"\n    },\n    {\n      \"name\": \"Natalia Fernandes de Oliveira\",\n      \"email\": \"acl.natalia.oliveira@ext.srna.co\",\n      \"id\": \"ca70777e-a2d9-ef11-a731-6045bd38eab6\"\n    },\n    {\n      \"name\": \"PAMELA APARECIDA DOS SANTOS\",\n      \"email\": \"acl.pamela.santos@ext.srna.co\",\n      \"id\": \"d3c15d37-6e4e-ef11-accd-002248e075c6\"\n    },\n    {\n      \"name\": \"PEDRO LUCAS SILVA COSTA\",\n      \"email\": \"acl.pedro.costa@ext.srna.co\",\n      \"id\": \"6f429cfa-73bd-ef11-a72e-000d3ac0f670\"\n    },\n{\n      \"name\": \"RAQUEL DE SOUZA FERREIRA\",\n      \"email\": \"acl.raquel.ferreira@ext.srna.co\",\n      \"id\": \"d92cd66a-c4ac-ef11-a72d-000d3ac02d60\"\n    },\n    {\n      \"name\": \"TIAGO AFRO PEREIRA FILHO\",\n      \"email\": \"acl.tiago.filho@ext.srna.co\",\n      \"id\": \"518f4a86-603a-ef11-a316-002248368544\"\n    },\n    {\n      \"name\": \"VALDEMAR DINIS HOQUE\",\n      \"email\": \"acl.valdemar.dinis@ext.srna.co\",\n      \"id\": \"d9166c1f-aff3-ef11-be20-002248375e9d\"\n    },\n    {\n      \"name\": \"VICTORIA KAROLLINY DE SOUZA SILVA\",\n      \"email\": \"acl.victoria.silva@ext.srna.co\",\n      \"id\": \"7dfc5419-aff3-ef11-be20-000d3ac087da\"\n    },   \n    {\n      \"name\": \"Wanderley Barreto Ferreira\",\n      \"email\": \"acl.wanderley.f@ext.srna.co\",\n      \"id\": \"eae080ff-73bd-ef11-a72e-000d3ac03f94\"\n    },\n    {\n      \"name\": \"Yuukihiro Matsuo Montagne Oliveira\",\n      \"email\": \"acl.yuukihiro.o@ext.srna.co\",\n      \"id\": \"09ee441d-aff3-ef11-be20-6045bd3b1474\"\n    }\n  ]\n}","options":{}},"id":"a023db6b-731d-416d-a6f3-fe199945d335","name":"Vendedores","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,620]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Retrieve the list of vendors\nconst vendedores = $node[\"Vendedores\"].json.vendedores;\nconst numVendors = vendedores.length;\n\n// Log the vendors and the number of vendors\nconsole.log(\"Vendedores List:\", vendedores);\nconsole.log(\"Number of Vendors:\", numVendors);\n\n// Get the lead index from the Wait node dynamically\nconst leadIndex = $node[\"Wait\"].json.leadIndex;\nconsole.log(\"Lead Index from Wait Node:\", leadIndex); // Log the lead index to check if it's correctly retrieved\n\n// Round-robin logic to assign a vendor\nconst vendedorIndex = leadIndex % numVendors;\nconsole.log(\"Calculated Vendor Index:\", vendedorIndex); // Log the calculated vendor index\n\nconst assignedVendedor = vendedores[vendedorIndex]; // Select the vendor based on the index\nconsole.log(\"Assigned Vendedor:\", assignedVendedor); // Log the assigned vendor\n\n// Return the lead with the assigned vendor\nreturn {\n  json: {\n    ...$json, // Include all original lead data\n    assignedVendedor // Add the assigned vendor to the output\n  }\n};"},"id":"7ba650ff-3b67-44ad-a5a2-c3991a9f3ed2","name":"Roleta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2580,620]},{"parameters":{"jsCode":"const indexedLeads = $input.all().map((item, i) => {\n    return {\n        json: {\n            ...item.json,\n            leadIndex: i // Assign a unique index to each lead\n        }\n    };\n});\n\nreturn indexedLeads;"},"id":"8bcef52c-aa12-4b21-abde-85c6cdc14f11","name":"leadIndexing","type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,620]},{"parameters":{"method":"PATCH","url":"=https://omega.api.crm2.dynamics.com/api/data/v9.2/leads({{ $('Wait').last().json.leadid }}) ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Auth CRM').last().json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ownerid@odata.bind\": \"/systemusers({{ $json.assignedVendedor.id }})\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"5d9541ad-1a80-4831-bc12-db5b96df96f8","name":"Update Lead Info - CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2780,620],"alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_update_lead_owner_log","mode":"list","cachedResultName":"n8n_update_lead_owner_log"},"columns":{"mappingMode":"defineBelow","value":{"owner_id":"={{ $json.ownerId }}","owner_name":"={{ $json.ownerName }}","status":"={{ $json.status }}","message":"={{ $json.message }}","timestamp":"={{ $json.timestamp }}","lead_id":"={{ $json.leadId }}","uuid":"={{ $json.uuid }}"},"matchingColumns":[],"schema":[{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lead_id","displayName":"lead_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"owner_id","displayName":"owner_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"owner_name","displayName":"owner_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}]},"options":{}},"id":"0f8d9c8a-250b-4f22-998c-7046cc286898","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3240,620],"credentials":{"postgres":{"id":"3p6dEtZFl2qp4lAG","name":"Postgres account"}}},{"parameters":{"amount":0.5},"id":"ee3fd8c5-a53d-4998-8312-c9799ec9e896","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,640],"webhookId":"fc491bfa-8f43-467f-b4a9-dd764aca9852"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,16 * * 1-5"}]}},"id":"1bcbdfe6-a988-4aab-ad72-eb82b99cfdc8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,620]},{"parameters":{"jsCode":"function generateUUID() {\n  let dt = new Date().getTime();\n  let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    let r = (dt + Math.random() * 16) % 16 | 0;\n    dt = Math.floor(dt / 16);\n    return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n  return uuid;\n}\n\n// Gera e retorna o UUID\nreturn {\n  uuid: generateUUID()\n};\n"},"id":"05a5e05e-82c2-484f-9f32-355d75c9b701","name":"UUID_mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[3480,620]},{"parameters":{"method":"POST","url":"https://srna.http.msging.net/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('UUID_mensagem').last().json.uuid }}\",\n    \"to\": \"{{ $('Loop Over Items2').last().json.bz_celular_semformatacao }}@wa.gw.msging.net\",\n    \"type\": \"application/json\",\n    \"content\": {\n        \"type\": \"template\",\n        \"template\": {\n            \"namespace\": \"{{ $('Variáveis do fluxo').last().json.namespace }}\",\n            \"name\": \"{{ $('Variáveis do fluxo').last().json.template_name }}\",\n            \"language\": {\n                \"code\": \"pt_BR\",\n                \"policy\": \"deterministic\"\n            },\n            \"components\": [\n                {\n                    \"type\": \"body\",\n                    \"parameters\": [\n                        {\n                            \"type\": \"text\",\n                            \"text\": \"{{ $('Loop Over Items2').last().json.firstname }}\"\n                        }\n                    ]\n                }\n            ]\n        }\n    }\n}","options":{}},"id":"2218285d-11eb-4881-a689-72df8780faa9","name":"Send Message - Router Vendas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3760,620],"credentials":{"httpHeaderAuth":{"id":"yzbc52SDGW2bS38w","name":"Router Blip - Blip Vendas (serenarouter2)"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"celular_teste\": \"5511977505323\",\n  \"template_name\": \"comer_reab_18_person\",\n  \"namespace\":\"0dbeacf8_568d_43ac_81c5_572ca47b9a0e\",\n   \"created_lte\": \"{{ new Date(new Date().getTime() - 27 * 60 * 60 * 1000).toISOString().replace('Z', '') + '-03:00' }}\",\n \"created_gte\": \"{{ new Date(new Date().getTime() - 60 * 24 * 60 * 60 * 1000).toISOString().replace('Z', '') + '-03:00' }}\"\n}\n","options":{}},"id":"d47ed364-491a-425c-9b76-0a9d84235198","name":"Variáveis do fluxo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,620]},{"parameters":{"content":"## Variáveis\nAjuste de acordo com o **template que deseja utilizar** na Blip e filtre o período de criação do lead","height":435.3993216564744,"width":231.56720285833336,"color":4},"id":"da545f18-8ac1-4107-a49b-2cc8dab2eb67","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,460]},{"parameters":{"content":"## Resgata os leads que não respoderam a SereIA no CRM\nBuscamos pelos **leads ainda alocados com o Hamu e não tiveram conversa iniciada**. \nAlém disso, fazsemos uma tratativa para que a roleta funcione corretamente em etapas mais a frente. ","height":435.3993216564744,"width":777.4961575017431,"color":4},"id":"f9d7a697-9fce-4d0f-93cb-cdd39f416908","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,460]},{"parameters":{"content":"## Trigger agendado\nCron-job que de segunda a sexta, as 8h, 12h e 16h","height":435.3993216564744,"width":231.56720285833336,"color":4},"id":"5ff768e9-a593-4ab2-b6cd-9ae2e2c19c5f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,460]},{"parameters":{"method":"POST","url":"https://login.microsoftonline.com/898e4078-23d6-433c-94aa-51bf928dca9d/oauth2/token","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"options":{}},"id":"8d2a8e87-2f30-4307-9088-324e6ebfb71e","name":"Auth CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,620],"credentials":{"httpCustomAuth":{"id":"um30bjtyM1wqWRA5","name":"Dynamics API Prod"}}},{"parameters":{"url":"=https://omega.api.crm2.dynamics.com/api/data/v9.2/leads?\n$filter=bz_jornada eq '4' and bz_conversa_iniciada eq false and statecode eq 0 and _ownerid_value eq '7d80789f-18fe-ed11-8f6d-0022483660a2' and createdon lt '{{ $('Variáveis do fluxo').last().json.created_lte}}' and createdon gt '{{ $('Variáveis do fluxo').last().json.created_gte}}'&\n$select=bz_id_lead,firstname,bz_celular_semformatacao,bz_valor_conta,bz_distribuidora_energia,bz_tipo_plano,bz_link_fatura,bz_link_contrato,statecode,bz_status_contratacao,createdon,_ownerid_value,bz_conversa_iniciada&\n$orderby=createdon desc&\n$top=300","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{}},"id":"7d7a5b32-d42a-404d-88a2-e5f4e84d7a23","name":"Busca leads no CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,620],"onError":"continueRegularOutput"},{"parameters":{"content":"## Valida se de fato não houve interação com a SereIA\nConsultamos a tabela de conversas do Supabase","height":435.3993216564744,"width":1075.8222244253998,"color":4},"id":"42b9ff43-8a65-48c6-a102-c68968aef2d7","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,460]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Inline generation of UUID\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\n\n// Check if the current item came from the error branch\nconst isError = $json.hasOwnProperty('error');\n\n// Get the status code from the response (default to 0 if undefined)\nconst statusCode = $json.statusCode || 0;\n\n// Determine success: any status code between 200 and 299 (inclusive) is considered a success\nconst isSuccess = statusCode >= 200 && statusCode < 300;\n\n// Prepare the log entry\nconst logEntry = {\n    uuid: uuid,  // Use the inline-generated UUID\n    leadId: $node[\"Wait\"]?.json?.leadid || null,  // Retrieve lead ID from 'Wait' node\n    ownerId: $node[\"Roleta\"]?.json?.assignedVendedor?.id || null,\n    ownerName: $node[\"Roleta\"]?.json?.assignedVendedor?.name || null,\n    status: isSuccess ? 'success' : 'failure',\n    message: isError ? $json.error.message : (isSuccess ? 'Successfully updated CRM' : `Failed with status ${statusCode}`),\n    timestamp: new Date().toISOString()  // Full ISO 8601 timestamp\n};\n\n// Return the normalized log entry\nreturn {\n    json: logEntry\n};"},"id":"bee977a4-8c29-4ee9-9bcf-f333a2bf38e2","name":"Prepara log de execução","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,620]},{"parameters":{"content":"## Roleta de alocação para vendedores ativos no BPO\nFaz a distribuição igualitária dos leads entre os vendedores ativos no BPO e altera o responsável do lead no CRM","height":435.3993216564744,"width":660.6004278043736,"color":4},"id":"1824e217-a7da-4f81-a151-fd49ffaf3098","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2340,460]},{"parameters":{"content":"## Observabilidade\nSalva log de execução no Supabase","height":435.3993216564744,"width":377.3052889726366,"color":4},"id":"e1850fb2-3e41-422a-888f-bcfc802b4696","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3020,460]},{"parameters":{"content":"## Envio de mensagem automática\nEnvio de mensagem de reabertura automática para o Router de Vendas","height":435.3993216564744,"width":525.8963666932045,"color":4},"id":"449cefe5-4126-4659-872a-59f7828acb38","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3420,460]}],"connections":{"If - Não lead encontrado":{"main":[[{"node":"Vendedores","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"leadIndexing","type":"main","index":0}]]},"BD (Supabase) - Get Clientes":{"main":[[{"node":"If - Não lead encontrado","type":"main","index":0}]]},"Vendedores":{"main":[[{"node":"Roleta","type":"main","index":0}]]},"Roleta":{"main":[[{"node":"Update Lead Info - CRM","type":"main","index":0}]]},"leadIndexing":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update Lead Info - CRM":{"main":[[{"node":"Prepara log de execução","type":"main","index":0}],[{"node":"Prepara log de execução","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"UUID_mensagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"BD (Supabase) - Get Clientes","type":"main","index":0}]]},"UUID_mensagem":{"main":[[{"node":"Send Message - Router Vendas","type":"main","index":0}]]},"Variáveis do fluxo":{"main":[[{"node":"Auth CRM","type":"main","index":0}]]},"Auth CRM":{"main":[[{"node":"Busca leads no CRM","type":"main","index":0}]]},"Busca leads no CRM":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prepara log de execução":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Send Message - Router Vendas":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Variáveis do fluxo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0db556d-b21d-4b48-b34f-8c4231ae4859","triggerCount":1,"tags":[]}